@model FacturaWeb.ViewModels.InvoiceCustomerViewModel

@{
    ViewBag.Title = @Model.Customer.LastName + @Model.Customer.FirstName + " wijzigen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br/>



@using (Html.BeginForm("UpdateCustomerInDb", "Customer", FormMethod.Post))
{
    <label name="lbId"> @Model.Customer.ID</label>
    <input type="hidden" name="lbId" value="@Model.Customer.ID" id="customerId"/>
    <br/>
    <input type="text" name="tbFirstname" placeholder="Voornaam" value="@Model.Customer.FirstName"/>
    <input type="text" name="tbPrefix" placeholder="Voorvoegsel" value="@Model.Customer.Preposition"/>
    <input type="text" name="tbSurname" placeholder="Achternaam" value="@Model.Customer.LastName"/>
    <br/>
    <br/>
    <input type="text" name="tbStreet" placeholder="Straat + Huisnummer" value="@Model.Customer.Address.StreetName"/> 
    <input type="text" name="tbPlace" placeholder="Plaats" value="@Model.Customer.Address.Place"/>
    <input type="text" name="tbZipcode" placeholder="Postcode" value="@Model.Customer.Address.ZipCode"/>
    <br/>
    <br/>
    <input type="text" name="tbEmail" placeholder="Email" value="@Model.Customer.Email"/>
    <input type="text" name="tbPhonenumber" placeholder="Telefoonnummer" value="@Model.Customer.PhoneNumber"/>
    <br/>
    <br/>
    <input type = "submit" value = "Wijzigen" />
}
