@using Models
@model FacturaWeb.ViewModels.InvoiceViewModel
@{
    ViewBag.Title = "CreateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <style>
        tbody {
            height: 250px !important;
            overflow-y: auto;
            display: block;
        }

            thead, tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed; /* even columns width , fix width of table too*/
            }
        
        header {
            background: #FFFFFF;
            color: #919191;
            padding: 15px;
            line-height: 30px;
            max-width: calc(770px - 30px);
            border-radius: 3px;
            margin: auto;
        }

        .containert {
            width: 100%;
            max-width: 100%;
            margin: auto;
            margin-top: 15px;
            overflow: hidden;
            padding: 0px;
        }



        .left-header, .right-header {
            background: #58C5B3;
            font-size: 10px;
            padding: 15px;
            color: #FFFFFF;
        }

        .left-text, .right-text {
            background: #FFFFFF;
            padding: 5px;
            font-size: 15px;
        }

        .fl-l {
            word-break: break-all;

        }

        .fl-ll {
            float: left;
            word-break: break-all;
            width: 25%;
            margin: 5px;
        }

        .scrollert {
            word-break: break-all;
            height: 95px !important;
            overflow-y: auto;
        }
        .fl-lm {
            float: left;
            word-break: break-all;
            width: 25%;
            margin: 5px;
        }

        .floatyleft {
            float: right;
        }

        .smallersize {
            width: 45px;
        }

        .hover-table .tr-data:hover {
            background-color: lightgrey;
        }

        .clickable-row {
            cursor: pointer;
        }

        #otherCustomer {
            float: right;
        }
    </style>
</head>
<body>

    <div class="containert">
        <div class="fl-ll">
            <div class="left-header">
                Selecteer dienst
            </div>
            <div class="left-text">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Dienst</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Task task in Model.Tasks)
                        {
                            <tr>
                                <td>@task.Description</td>
                                <td class="smallersize"><button class="btnAdd">+</button></td>
                                <input type="hidden" class="taskDescription" value="@task.Description" />
                                <input type="hidden" class="taskId" value="@task.Id" />
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="active-part" class="fl-lm">
            @Html.Partial("AllCustomersView")
        </div>

    </div>

    <div class="fl-l">
        <div class="right-header">
            Diensten per factuur
        </div>

        <div class="right-text scrollert">
            <div id="paragraph">


            </div>
        </div>


    </div>
    <br />
    <button class="btnCreateInvoice"> Factuur aanmaken </button>


</body>


</html>
<script>
    $(document).ready(function () {
        $(document).ready(function () {

            $(".btnCreateInvoice").click(function() {
                var customer = $('#customerInd').text();
                var data = $('input[name="taskId[]"]').serialize();
                var dates = $('input[name="datePickerTask[]"]').serialize();
                var totalPrice = $('input[name="totalPrice[]"]').serialize();
                var amountTask = $('input[name="amountTask[]"]').serialize();

                unitids = [];
                $('select[name="units[]"]').each(function (i, e) { unitids.push($(e).val()); });

                taskids = [];
                $('input[name="taskId[]"]').each(function (i, e) { taskids.push($(e).val()); });


                    $.ajax({
                        url: '@Url.Action("CreateInvoiceForCustomer")',
                        data: {
                            'customerInd': customer,
                            'tasks': data,
                            'dates': dates,
                            'totalPrice': totalPrice,
                            'amountTask': amountTask,
                            'tasky': taskids,
                            'units': unitids
                },
                    type: "post",
                    cache: false,
                    success: function (result) {
                        $('#active').html(result);
                    }

                });
            });

            
       
            $(".btnAdd").click(function () {
                var task = $(this).closest('tr').find('.taskDescription').val();
                var taskId = $(this).closest('tr').find('.taskId').val();
                var taskcode =
                    "<div><button class=\"btnRemove\">-</button> "
                    +"<input type=\"date\" name=\"datePickerTask[]\" style=\"width:150px\" />  "
                    +"<input type=\"number\" min=\"0.01\" name=\"amountTask[]\" value=\"1\" style=\"width:50px\"/>   "
                    +"<select name=\"units[]\"> <option>Stuks</option><option>Hectare</option><option>Uren</option></select>      "
                    + task
                    +"<input name=\"totalPrice[]\" class=\"floatyleft\" type=\"number\" min=\"0.01\" step=\"0.01\" max=\"2500\" value=\"25.67\" />"
                    +"<text class=\"floatyleft\">  €  </text>"
                    +"<input type=\"hidden\" name=\"taskId[]\" value=\"" + taskId + "\"/>"
                    +"</br></div>";

                $("#paragraph").append(taskcode);
            });
        });


        $("#paragraph").on("click",
            ".btnRemove",
            function(e) {
                e.preventDefault();
                $(this).parent('div').remove();
            });

    });
</script>