@using Models
@model FacturaWeb.ViewModels.InvoiceCustomerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        padding: 0 15px 0 15px;
    }

    th {
        padding: 0 15px 0 15px;
    }

    tbody {
        height: 370px !important;
        overflow-y: auto;
        display: block;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* even columns width , fix width of table too*/
        }
</style>

<h2>Facturen overzicht</h2>

@using (Html.BeginForm("CreateInvoice", "Invoice", FormMethod.Get))
{
    <input type="submit" value="Nieuw factuur"/><br/><br/>
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Factuurnummer</th>
        <th>Naam</th>
        <th>Achternaam</th>
        <th>Factuur verzonden op</th>
        <th>Factuur betaald op</th>
        <th>Bedrag</th>

    </tr>
    </thead>
    <tbody>
    @foreach (Invoice invoice in @Model.InvoicesPerCustomer)
    {
        <tr>
            <th scope="row">@invoice.Id</th>
            <td>@invoice.Customer.FirstName</td>
            <td>@invoice.Customer.LastName</td>
            <td>@invoice.DateSend</td>
            <td>@invoice.DatePayed</td>
            <td>@invoice.TotalPrice</td>

            @*<td>@Html.ActionLink("Bewerken", "UpdateCustomer", invoice)</td>*@

        </tr>
    }
    </tbody>
</table>